html, body, div, span, applet, object, iframe, h1, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }
.cf:before, .cf:after { content: " "; display: table; } .cf:after { clear: both; }

/* interesting color: #039BE5 */

.tagline-mobile {

	display: none;

}

.toggle a {

	color: transparent;
	background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;
	font-size: 35px;
	position: fixed;
	top: 10%;
	right: 6%;
	vertical-align: middle;

}

.toggle a:hover {

	color: #404040;
	/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;*/
	transition: color 0.3s ease-in-out;
	cursor: pointer;

}

.home a {

	color: transparent;
	background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;
	font-size: 35px;
	position: fixed;
	top: 10%;
	left: 6%;
	vertical-align: middle;

}

.home a:hover {

	color: #404040;
	/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;*/
	transition: color 0.3s ease-in-out;
	cursor: pointer;

}

.flag a {

	color: transparent;
	background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;
	font-size: 35px;
	position: fixed;
	top: 10%;
	left: 50%;
	vertical-align: middle;

}

.flag a:hover {

	color: #404040;
	/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;*/
	transition: color 0.2s ease-in-out;
	cursor: pointer;

}

.intro {
	left: 15%;
	padding-right: 10%;
	line-height: 120%;
	overflow: auto;
	position: absolute;
	text-align: left;
	top: 25%;
	width: 80%;
	height: 70%;
	font-size: 25px;

}

.intro p {
	display: none;
}

.intro br {
	display: block;
	content: ""; /* clears default height */
  margin-top: 1%; /* change this to whatever height you want it */
}

.intro a, a:visited {
	color: transparent;
	background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;
	/*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;*/
}

.intro a:hover {
	color: #404040;
	/*background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;*/
	transition: color 0.2s ease-in-out;
}

.boldtitle {

	background: -webkit-linear-gradient(to right, #d754ad, #f96785, #fe7333);
	-webkit-background-clip: text;
	font-weight: 800;
	font-size: 35px;
	padding-bottom: 1%;

}

.mobile-blue {

	color: #03dfe5;

}

.contenu ul {

	display: flex;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.contenu li {

	list-style: none;

}

.contenu a {

	width: 95px;
	height: 95px;
	background: #fff;
	text-align: center;
	line-height: 92px;
	font-size: 37px;
	margin: 0 13px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 1px #404040 solid;

}

.contenu a .fas, a .fab {

	position: relative;
	color: #404040;
	font-size: inherit;
	transition: 0.3;

}

.contenu a:hover .fas, a:hover .fab {

	z-index: 2;
	color: #fff;

}

.contenu a:before {

	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #404040;
	transition: 0.3s ease;

}

.contenu a:hover:before {

	top: 0;

}


	/* interesting color: #ff6201 */

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateY(-179.9deg);
  }
}


* { box-sizing: border-box; }

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    background: #FFFFFF;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 1.65;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in 0.1s;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

.moocabody {
	background: #000;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 1.65;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in 0.1s;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

.moocabodylight {
	background: #fff;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 1.65;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in 0.1s;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

body.loaded,
.no-js body {
    opacity: 1;
}

a, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    color: #404040;
    text-decoration: none;
}

p,li {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 20px;
}

strong {

	font-weight: 600;

}

.site-tagline {
	clear: both;
	margin-bottom: 20px;
	width: 75%;
	position: fixed;
	top: 15%;
	left: 17%;
	text-align: center;
}
.site-tagline p {
    color: #404040;
    font-size: 50px;
    width: 90%;
}

.zone {

	background-color : #000;
    width : 45%;
  	margin-top: 12%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;

}

.zone p {

	color: #fff;
	font-weight: 600;
	font-size: 20px;

}

.links {

	text-align: left;
	overflow: hidden;

}

.links a {

	font-weight: 400;
	font-size: 20px;
	color: #fff;

}

.links a:hover {

	color: #0EBFE9;

}


.zone a:after {

	background-color: #fff;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 100%;
	left: 0.5em;
	margin-right: -50%;

}

.zone a:hover:after {

	background-color: #0EBFE9;

}

.zone-light {

	background-color : #fff;
    width : 45%;
  	margin-top: 12%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;

}

.zone-light p {

	color: #424242;
	font-weight: 300;
	font-size: 20px;

}

.links-light {

	text-align: left;
	overflow: hidden;

}

.links-light a {

	font-weight: 400;
	font-size: 20px;
	color: #999;

}

.links-light a:hover {

	color: #FF1341;

}

.zone-light a:after {

	background-color: #999;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 100%;
	left: 0.5em;
	margin-right: -50%;

}

.zone-light a:hover:after {

	background-color: #FF1341;
	transition: color 0.2s ease-in-out;

}

.about-design {

	background-color : #fff;
    width : 80%;
	height: 70%;
  	margin-left: 10%;
	margin-top: 12%;
	position: fixed;
	color: #424242;

}

.about-design .headline-design {

	color: #424242;
	font-size: 22px;
	font-weight: 600;

}

.about-design p {

	font-weight: 400;
	font-size: 20px;
	text-align: justify;
	margin-bottom: -2%;
	margin-top: -1%;
	color: #5c5c5c;

}

.about-light {

	background-color : #fff;
    width : 50%;
	height: 70%;
  	margin-left: 25%;
	margin-top: 10%;
	position: fixed;
	color: #424242;

}

.about-light .headline-light {

	color: #424242;
	font-size: 25px;
	font-weight: 600;

}

.about-light p {

	font-weight: 400;
	font-size: 19px;
	text-align: justify;
	margin-bottom: -2%;
	margin-top: -1%;

}

.about {

	background-color : #000;
    width : 50%;
	height: 70%;
  	margin-left: 25%;
	margin-top: 10%;
	position: fixed;
	color: #fff;

}

.about .headline {

	color: #0EBFE9;
	font-size: 25px;
	font-weight: 600;

}

.about p {

	font-weight: 400;
	font-size: 19px;
	text-align: justify;
	margin-bottom: -2%;
	margin-top: -1%;

}

.smaller {

	font-size: 94%;

}

.site-footer {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
	width: 100%;
	text-align: center;
}
.site-footer p { font-size: 18px; font-weight: 400; position: fixed; top: 87%; text-align: center; left: 25%; right: 25%;}
.site-footer a,
.site-footer a:visited {
	color: transparent;
	background-image: linear-gradient(to left, #d754ad 0%, #f96785 67%, #fe7333 100%);
	-webkit-background-clip: text;
	/*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;*/
	}
.site-footer a:hover {
	color: #404040;
	/*background-image: linear-gradient(to right, #d754ad 0%, #f96785 67%, #fe7333 100%);
	-webkit-background-clip: text;*/
	transition: color 0.2s ease-in-out;
}


/* MEDIA QUERIES */

/* iPhone 6*/
@media only screen
    and (min-width : 375px)
    and (max-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2) {

			.toggle a:active, a:visited {

				color: transparent;
				background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;
				font-size: 35px;
				position: fixed;
				top: 7%;
				right: 8%;

			}

			.toggle a:hover {

				color: #404040;
				/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;*/

			}

			.home a:active, a:visited {

				color: transparent;
				background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;
				font-size: 35px;
				position: fixed;
				top: 7%;
				left: 8%;
				vertical-align: middle;

			}

			.home a:hover {

				color: #404040;
				/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;*/

			}

			.flag a:active, a:visited {

				color: transparent;
				background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;
				font-size: 35px;
				position: fixed;
				top: 7%;
				left: 46%;
				vertical-align: middle;

			}

			.flag a:hover {

				color: #404040;
				/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;*/

			}

			.intro {
				box-sizing: border-box;
				left: 12%;
				padding-right: 13%;
				line-height: 130%;
				overflow: auto;
				position: absolute;
				text-align: left;
				top: 18%;
				width: 90%;
				height: 77%;
				font-size: 22px;
				font-weight: 400;

			}

			.intro p {

				display: block;
				font-weight: 600;
				font-size: 40px;
				margin-bottom: 2%;

			}

			.intro br {
				display: block;
				content: ""; /* clears default height */
			  margin-top: 4%; /* change this to whatever height you want it */
			}

			.intro a:active, a:visited {
				color: transparent;
				background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;
				display: inline-block;
				/*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
				animation: sk-rotateplane 1.2s infinite ease-in-out;*/
			}

			.intro a:hover {
				color: #404040;
				/*background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
				-webkit-background-clip: text;*/
			}

}

/* iPhone X */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

	.toggle a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		right: 8%;

	}

	.toggle a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.home a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		left: 8%;
		vertical-align: middle;

	}

	.home a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.flag a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		left: 46%;
		vertical-align: middle;

	}

	.flag a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.intro {
		left: 10%;
		padding-right: 10%;
		line-height: 130%;
		overflow: auto;
		position: absolute;
		text-align: left;
		top: 16%;
		width: 90%;
		height: 80%;
		font-size: 27px;
		font-weight: 400;

	}

	.intro br {
		display: block;
		content: ""; /* clears default height */
	  margin-top: 6%; /* change this to whatever height you want it */
	}

	.intro a, a:visited {
		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		/*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;*/
	}

	.intro a:hover {
		color: #fff;
		/*background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/
		transition: color 0.2s ease-in-out;
	}

	.intro br {
		display: block;
		content: ""; /* clears default height */
	  margin-top: 5%; /* change this to whatever height you want it */
	}

}

@media only screen
and (min-width : 737px)
and (max-width : 1000px)
and (orientation : portrait) {

	.toggle a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		right: 8%;

	}

	.toggle a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.home a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		left: 8%;
		vertical-align: middle;

	}

	.home a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.flag a {

		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		font-size: 35px;
		position: fixed;
		top: 7%;
		left: 49%;
		vertical-align: middle;

	}

	.flag a:hover {

		color: #404040;
		/*background-image: linear-gradient(to left, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/

	}

	.intro {
		left: 11%;
		padding-right: 12%;
		line-height: 130%;
		overflow: auto;
		position: absolute;
		text-align: left;
		top: 17%;
		width: 90%;
		height: 75%;
		font-size: 28px;
		font-weight: 400;

	}

	.intro br {
		display: block;
		content: ""; /* clears default height */
	  margin-top: 2.5%; /* change this to whatever height you want it */
	}

	.intro a, a:visited {
		color: transparent;
		background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;
		/*-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;*/
	}

	.intro a:hover {
		color: #404040;
		/*background-image: linear-gradient(to right, #d754ad, #f96785, #fe7333);
		-webkit-background-clip: text;*/
	}

}
